body {
  display: flex;               
  flex-direction:column ; 
  justify-content: center;         
  align-items: center;    
  height: 100vh;   
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;   
  padding: 0;    
  text-align: center; }
   
    .agrandir-texte {font-size: 25px;}

body {
  background: linear-gradient(to right, #6a1b9a, #000000);
  color: white; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;}
    
.container {
  position: relative ;}

  .image-main {
  width: 100%; 
  max-width: 390px;
  height: auto;  /
  display: block;
  margin: 0 auto;
  position: absolute; 
  left: 0px;
  top: 500px;
  height: auto;
  margin-left:70%; }

.container {
  position: relative ;}
    
.second-image {
  position: absolute;
  bottom: 100px;
  left: 100px;
  width: 300px;
  height: auto; }

  a {
    color: #00E5FF; /* bleu clair très lisible sur noir/violet */
    text-decoration: none; /* optionnel : enlève le soulignement */
}

a:hover {
    color: #4FC3F7; /* un bleu un peu plus clair au survol */
}
