body {
  display: flex;               
  flex-direction:column ; 
  justify-content: center;         
  align-items: center;    
  height: 100vh;   
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;   
  padding: 0;    
  text-align: center; }
   
    .agrandir-texte {font-size: 25px;}

body {
  background: linear-gradient(to right, #6a1b9a, #000000);
  color: white; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;}
    
.container {
  position: relative ;}

  .image-main {
  width: 100%; 
  max-width: 390px;
  height: auto;  /
  display: block;
  margin: 0 auto;
  position: absolute; 
  left: 0px;
  top: 550px;
  height: auto;
  margin-left:70%; }

.container {
  position: relative ;}
    
.second-image {
  position: absolute;
  bottom: 50px;
  left: 100px;
  width: 300px;
  height: auto; }

  a {
    color: #00E5FF;
    text-decoration: none;}

    .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.contact-form button {
    background-color: #6a0dad;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #8a2be2;}

.contact-btn {
    display: inline-block;
    padding: 30px 85px;   /* augmente la taille du bouton */
    font-size: 22px;      /* augmente la taille du texte */
    background-color: #6a0dad; /* violet */
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: #8a2be2; /* violet plus clair au survol */
}
