body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6a1b9a, #000000); /* Dégradé de fond */
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
    
.container {
  position: relative ;}

  .image-main {
  width: 100%; 
  max-width: 390px;
  height: auto;  /
  display: block;
  margin: 0 auto;
  position: absolute; 
  left: 0px;
  top: 550px;
  height: auto;
  margin-left: 1000px;
}


.container {
  position: relative ;}
    
.second-image {
  position: absolute;
  bottom: 50px;
  left: 100px;
  width: 300px;
  height: auto; }

a {
    color: #01ccff;
    text-decoration: none;}

    .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

p {
    color: #ffffff;
    text-decoration: none;}

    .contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.second-image{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:rgba(255, 255, 255, 0.35);}

.contact-form button {
    background-color:#DAA520;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #DAA520;}

.contact-btn {
    display: inline-block;
    padding: 30px 85px;
    font-size: 22px;
    background-color: #DAA520;
    border-radius: 10px;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: #DAA520;
}

.back-btn {
    padding: 15px;
    font-size: 20px;
    background-color: #DAA520;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.back-btn:hover {
  background-color: #DAA520}

.contact-form input,
.contact-form textarea {
  padding: 25px;
  font-size: 25px;
  border-radius: 8px;
}

.contact-form button {
    padding: 15px 30px;
    font-size: 22px;
    border-radius: 10px;
    background-color: #DAA520;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #DAA520;
}

.contact-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;}

.image-main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;   
  flex-wrap: wrap;            
  gap: 20px;        
  padding: 20px;}

.second-image {
  max-width: 315px;
  width: 100%;
  height: auto;
  border-radius: 8px;}